.login-container {
    position: relative;
    height: 100vh;
    background-image: url('../../../assets/images/collage.png');
    background-size: cover;
    background-position: center;
  }
  /* Overlay with blue color */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 45, 228, 0.589);
  }
   
  /* Centering the login form */
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
   
  /* Styling the login form */
  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 12rem;
  }
   
  /* Add some margin to the form elements */
  .form-group {
    margin-bottom: 15px;
  }
   
  /* Style the Forgot Password link */
  .text-center a {
    color: #007bff;
    font-size: 14px;
  }
   
  .text-center a:hover {
    text-decoration: underline;
  }
   
  /* Style the login button */
  .btn-block {
    background-color: #0d2d4e;
    border-color: #0d2d4e;
  }
   
  .btn-block:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-container.img-logo {
    margin-bottom: -12rem; /* Adjust the spacing between the logo and the form */
  }
 
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
 